body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; /* Darker black */
    color: #ccc;
}

header {
    background-color: #222; /* Darker black */
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

header img {
    border-radius: 50%;
    max-width: 100px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333; /* Darker black */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2, h3 {
    color: #e74c3c; /* Red */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #3498db; /* Blue */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222; /* Darker black */
    color: #ecf0f1;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

/* Flexbox styles for sections starting from "Resume" */
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.flex-item img {
    max-width: 100%;
    border-radius: 10px;
}